
@mixin rounded($radius: 15px /*defaultná hodnota - ak nie je vyplnená, musí byť prvá v poradí*/ , /* po čiarke môžeme dať ďalšie argumenty*/ $border: 2px solid blue) {    
    border-radius: $radius;
    border: $border;
}

@mixin image {
    width: 200px;
}

@mixin myButton {
    @include rounded(25px);
    background: orange;
    color: #fff;
}

@mixin textStyle {
    font-family: serif;
    color: rgb(0, 0, 0);
    text-align: center;
}
// === ďalší možný zápis mixiny ===
@mixin big-text {
    font: {
        size: 35px;
        weight: bold;
        style: italic;
        family: serif;
    }
}

// === všeobecná mixina ===
// 16. SCSS a Sass - Mixiny: všeobecná mixina
// v style.scss len vyvoláme @include our-links;
 @mixin our-links {
     a {
         color: $secondary-color;
         font-style: italic;
         text-decoration: none;
     }
}



@mixin shadow($shadows... /*3 bodky - že dam bude viac parametrov*/) {
    box-shadow: $shadows;
}