
@mixin rounded($radius) {
    border-radius: $radius;
}

@mixin image {
    width: 300px;
}

@mixin myButton {
    @include rounded(25px);
    background: orange;
    color: #fff;
}

@mixin textStyle {
    font-family: serif;
    color: black;
    text-align: center;
}
// === ďalší možný zápis mixiny ===
@mixin big-text {
    font: {
        size: 35px;
        weight: bold;
        style: italic;
        family: serif;
    }
}

// === všeobecná mixina ===
@mixin our-links {
    a {
        color: $secondary-color;
        font-style: italic;
        text-decoration: none;
    }
}
//* v style.scss len vyvoláme @include our-links; */
