
@mixin rounded {
    border-radius: 20px;
}

@mixin image {
    width: 300px;
    @include rounded;
}

@mixin myButton {
    background: orange;
    color: #fff;
    @include rounded;
}

@mixin textStyle {
    font-family: serif;
    color: black;
    text-align: center;
}
// === ďalší možný zápis mixiny ===
@mixin big-text {
    font: {
        size: 35px;
        weight: bold;
        style: italic;
        family: serif;
    }
}
