// === COLORS ===
$main-color: red;
$border-color: rgb(184, 248, 10);
$secondary-color: blue;
$ternary-color: yellow;
$link-color: $border-color;

// === FONTS ===
$font-size: 35px;

// === SIZES ===
$header-height: 500px;
$footer-height: 400px;