@import "variables.scss";
@import "mixins.scss";


body {
   background: $ternary-color
}

h1 {
    border: 3px solid $border-color;
    font-size: 35px;
    @include textStyle;
}

p {
    @include textStyle;
    border: 5px solid $border-color;
    font-size: 18px;
}



.alert-button {
    @include myButton;
    padding: 5px 10px;
}

.bigger-button {
    @include myButton;
    padding: 10px 15px;
}

/*
1. pojmenování proměnných,
2. uložení jedné proměnné do druhé,
3. rozdělujte proměnné do skupin,
4. používejte komentáře,
5. proměnná pouze jednou? Nevadí
*/

