// === COLORS ===
$main-color: red;
$border-color: rgb(184, 248, 10);
$secondary-color: blue;
$ternary-color: yellow;
$link-color: $border-color;

// === FONTS ===
$font-size: 35px;

// === SIZES ===
$header-height: 500px;
$footer-height: 400px;

h1 {
    color: $main-color;
    border: 3px solid $border-color;
    font-size: $font-size;
}

p {
    background: $main-color;
    border: 5px solid $border-color;
    font-size: $font-size;
}
/*
1. pojmenování proměnných,
2. uložení jedné proměnné do druhé,
3. rozdělujte proměnné do skupin,
4. používejte komentáře,
5. proměnná pouze jednou? Nevadí
*/

